<div class="container">
  <h1>Nouvelle partie</h1>

  <ul class="letters">
    <% @ten_list_letters.each do |letter| %>
      <li><%= letter %></li>
    <% end %>
  </ul>

  <p class="form-prefix">Quel est le mot le plus long selon toi?</p>

  <form action="/score" method="POST" data-turbo="false">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters %>
    <div class="input-group">
      <input type="text" name="word" class="form-control">
      <input type="submit" value="Joue" class="btn btn-primary">
    </div>
  </form>
</div>
