<h1>Resultat</h1>

<% if @included %>
    <p><strong>Félicitations!</strong> <%= @word %> Ce mot existe!</p>
  <% else %>
    <p>Désolé <strong><%= @word %></strong> ne semble pas être un mot français</p>
<% end %>
<%= link_to "Rejouer", new_path, class: "btn btn-primary" %>
