<h1>Resultat</h1>

<% if @available %>
    <p><strong>Félicitations!</strong> <%= @word %> Ce mot existe et a une longueur de <%= @word.length %> lettres !
    </p>
  <% else %>
    <p>Désolé <strong><%= @word %></strong> ne semble pas être un mot français</p>
<% end %>
<%= link_to "Rejouer", new_path, class: "btn btn-primary" %>
